{
  "presets": [
    [
      "env", {
          "targets": {
            "browsers": ["last 2 versions"]
          },
          "modules": false,
          "useBuiltins": "usage",
          "loose": true
        },
      "transform-object-rest-spread"
    ]
  ],
  "plugins": ["transform-object-rest-spread"]
}